openai
faiss-cpu
numpy
flask
requests
python-dotenv
chromadb
anthropic
langchain
langchain-openai
langchain-anthropic
langchain-community
langchain-text-splitters
beautifulsoup4
pypdf
langgraph
langgraph-cli[inmem]
mcp